<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"    
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board Read</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Author</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Function</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status
                    </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      Employed</th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <h1>[[${read}]]</h1>

              </table>
            </div>
          </div>


          <a href="/board/modifyForm">수정</a>
          <a href="/board/delete">삭제</a>
    </div>

    
</body>
</html>